#if($use_orm == "JPA")
package $respositoryPackage;

import org.springframework.stereotype.Repository;
import top.wboost.common.base.repository.BaseJpaRepository;
import $entityPackage.${entityName};

/**
* ${remarks}数据接口
* @className ${entityName}Repository
* @author ${author}
* @date ${createTime}
* @version 1.0.0
*/
@Repository("${entityInstance}Repository")
public interface ${entityName}Repository extends BaseJpaRepository<${entityName}, $pk.javaType>{

}
#else
package $mapperJavaPackage;

import tk.mybatis.mapper.common.Mapper;
import $entityPackage.${entityName};

/**
* ${remarks}数据接口
* @className ${entityName}Mapper
* @author ${author}
* @date ${createTime}
* @version 1.0.0
*/
public interface ${entityName}Mapper extends Mapper<${entityName}> {

}
#end