<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
	<modelVersion>4.0.0</modelVersion>
	<groupId>${packageName}</groupId>
	<artifactId>${projectName}</artifactId>
	<version>0.0.1-SNAPSHOT</version>
	<packaging>jar</packaging>
	<properties>
		<!-- tools -->
		<tools-group-id>top.wboost</tools-group-id>
		<tools-group-version>${toolsversion}</tools-group-version>
		<!-- /tools -->
		<project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
	</properties>

	<dependencies>
        <dependency>
            <groupId>${tools-group-id}</groupId>
            <artifactId>swagger-spring-boot-starter</artifactId>
        </dependency>
#if($orm == "JPA")
        <dependency>
            <groupId>${tools-group-id}</groupId>
            <version>${tools-group-version}</version>
            <artifactId>datasource-spring-boot-starter</artifactId>
		</dependency>
#elseif($orm == "MYBATIS")
		<dependency>
			<groupId>${tools-group-id}</groupId>
			<artifactId>mybatis-spring-boot-starter</artifactId>
		</dependency>
#end

	</dependencies>

	<build>
		<resources>
            <resource>
                <directory>src/main/webapp/WEB-INF/lib</directory>
                <targetPath>BOOT-INF/lib/</targetPath>
                <includes>
                    <include>**/*.jar</include>
                </includes>
            </resource>
		</resources>
		<plugins>
			<plugin>
				<groupId>org.apache.maven.plugins</groupId>
				<artifactId>maven-source-plugin</artifactId>
				<version>2.2.1</version>
				<configuration>
					<attach>true</attach>
				</configuration>
				<executions>
					<execution>
						<phase>compile</phase>
						<goals>
							<goal>jar</goal>
						</goals>
					</execution>
				</executions>
			</plugin>

			<plugin>
				<artifactId>maven-compiler-plugin</artifactId>
				<version>3.1</version>
				<configuration>
					<source>1.8</source>
					<target>1.8</target>
				</configuration>
			</plugin>

			<plugin>
				<groupId>org.springframework.boot</groupId>
				<artifactId>spring-boot-maven-plugin</artifactId>
				<version>1.5.9.RELEASE</version>
				<executions>
					<execution>
						<goals>
							<goal>repackage</goal>
						</goals>
					</execution>
				</executions>
				<configuration>
					<fork>true</fork>
				</configuration>
			</plugin>

		</plugins>
	</build>



    <dependencyManagement>
        <dependencies>
            <dependency>
                <groupId>${tools-group-id}</groupId>
                <version>${tools-group-version}</version>
                <artifactId>common</artifactId>
                <type>pom</type>
                <scope>import</scope>
            </dependency>
            <dependency>
                <groupId>${tools-group-id}</groupId>
                <version>${tools-group-version}</version>
                <artifactId>spring-boot-starter-support</artifactId>
                <type>pom</type>
                <scope>import</scope>
            </dependency>
        </dependencies>
    </dependencyManagement>
</project>