<?xml version="1.0" encoding="UTF-8"?>
<configuration scanPeriod="2 seconds" debug="false">
	<!--定义日志文件的存储地址 -->
	<springProperty scope="context" name="LOG_NAME" source="spring.application.name"/>
	<springProperty scope="context" name="LOG_HOME" source="common.log.path" defaultValue="./log"/>
	<property name="INFO_LOG" value="${LOG_HOME}/${LOG_NAME}/info/%d{yyyy-MM-dd}.log"/>
	<property name="WARN_LOG" value="${LOG_HOME}/${LOG_NAME}/warn/%d{yyyy-MM-dd}.log"/>
	<!-- 控制台输出 -->
	<appender name="CONSOLE_SHOW" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<!-- 格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{10}
    - %msg%n
			</pattern>
		</encoder>
	</appender>
	<!-- 按照每天生成日志文件 -->
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- <Encoding>UTF-8</Encoding> -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!--日志文件输出的文件名 -->
			<FileNamePattern>${INFO_LOG}</FileNamePattern>
			<MaxHistory>30</MaxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{10}
    - %msg%n
			</pattern>
		</encoder>
		<!--日志文件最大的大小 -->
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>1MB</MaxFileSize>
		</triggeringPolicy>
	</appender>

	<!-- 按照每天生成日志文件 -->
	<appender name="WARN_FILE"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${WARN_LOG}</FileNamePattern>
			<MaxHistory>30</MaxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{10}
				- %msg%n
			</pattern>
		</encoder>
		<!--日志文件最大的大小 -->
		<triggeringPolicy
				class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>1MB</MaxFileSize>
		</triggeringPolicy>
	</appender>

	<!-- 日志输出级别 -->
	<root level="INFO">
		<appender-ref ref="CONSOLE_SHOW"/>
		<appender-ref ref="FILE" />
		<appender-ref ref="WARN_FILE"/>
	</root>
	
	
</configuration>  