package ${packageName};

import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;
import top.wboost.boot.configuration.datasource.spring.boot.autoconfigure.EnableJpa;

@SpringBootApplication
@EnableJpa
public class ${applicationRunName} {

    public static void main(String[] args) throws Exception {
        SpringApplication.run(${applicationRunName}.class, args);
    }

}
