package ${servicePackage}.impl;

import org.apache.log4j.Logger;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

import com.${packageName}.common.base.dao.BaseDao;
import com.${packageName}.common.base.service.impl.BaseServiceImpl;
import ${daoPackage}.${entityName}Dao;
import ${servicePackage}.${entityName}Service;
import ${entityPackage}.${entityName};

/**
 * (TODO)一句话说明该实现类的作用
 * @author ${author}
 * @date ${createTime}
 */
@Service("${entityInstance}Service")
public class ${entityName}ServiceImpl extends BaseServiceImpl<${entityName}> implements ${entityName}Service {

	@SuppressWarnings("unused")
	private final static Logger log= Logger.getLogger(${entityName}ServiceImpl.class);

	@Autowired
    private ${entityName}Dao ${entityInstance}Dao;
	
	@Override
	public BaseDao<${entityName}> getDao() {
		return ${entityInstance}Dao;
	}

}