package $modelPackage;

import com.${packageName}.common.base.page.Page;
import java.util.Date;
import java.sql.Timestamp;


/**
 * (TODO)一句话说明该类的作用
 * @author ${author}
 * @date ${createTime}
 */
public class ${entityName}Model extends Page {
 

#foreach ($column in $columns)
    private $column.javaType $column.fieldName; //$column.comment
#end
	
#foreach ($column in $columns)
    public void ${column.setMethod}(${column.javaType} ${column.fieldName}){
       this.${column.fieldName} = ${column.fieldName};
    }
    
    public ${column.javaType} ${column.getMethod}(){
       return this.${column.fieldName} ;
    }
#end
	
}
