package $mapperJavaPackage;

import tk.mybatis.mapper.common.Mapper;
import $entityPackage.${entityName};

/**
 * ${remarks}数据接口
 * @className ${entityName}Mapper
 * @author ${author}
 * @date ${createTime}
 * @version 1.0.0
 */
public interface ${entityName}Mapper extends Mapper<${entityName}> {

}