package ${servicePackage}.impl;

import org.springframework.stereotype.Service;

import top.wboost.common.base.BaseMybatisServiceImpl;
import ${servicePackage}.${entityName}Service;
import ${entityPackage}.${entityName};
import $mapperJavaPackage.${entityName}Mapper;


/**
 * ${remarks}服务接口实现类
 * @author ${author}
 * @date ${createTime}
 */
@Service("${entityInstance}Service")
public class ${entityName}ServiceImpl extends BaseMybatisServiceImpl<${entityName}, ${entityName}Mapper, $pk.javaType> implements ${entityName}Service {

}